[package]
build                = "build.rs"
edition.workspace    = true
license.workspace    = true
name                 = "unavi-client"
publish              = false
repository.workspace = true
version.workspace    = true

[features]
default                 = ["discovery-local-network"]
devtools                = ["devtools-bevy", "devtools-network"]
devtools-bevy           = ["bevy/bevy_dev_tools"]
devtools-network        = []
discovery-local-network = ["wds/discovery-local-network"]

[lints]
workspace = true

[build-dependencies]
embed-resource.workspace = true

[dependencies]
anyhow.workspace           = true
avian3d.workspace          = true
bevy                       = { default-features = true, features = ["https", "jpeg"], workspace = true }
bevy_av1                   = "0.3.0"
bevy_rich_text3d.workspace = true
bevy_seedling              = { features = ["wav"], workspace = true }
bevy_vrm.workspace         = true
bitflags                   = "2.10.0"
blake3                     = "1.8.2"
clap.workspace             = true
directories.workspace      = true
flume.workspace            = true
image                      = { features = ["png"], workspace = true }
iroh.workspace             = true
iroh-tickets.workspace     = true
log                        = { features = ["max_level_debug", "release_max_level_info"], version = "*" }
postcard.workspace         = true
reqwest                    = { default-features = false, features = ["blocking", "rustls-tls"], version = "0.12.24" }
scc.workspace              = true
serde.workspace            = true
serde_json.workspace       = true
smallvec.workspace         = true
time                       = "0.3.44"
tokio                      = { features = ["rt", "rt-multi-thread"], workspace = true }
unavi-constants.path       = "../unavi-constants"
unavi-input.path           = "../unavi-input"
unavi-player.path          = "../unavi-player"
unavi-portal.path          = "../unavi-portal"
unavi-script.path          = "../unavi-script"
wds.path                   = "../wds"
winit                      = { default-features = false, version = "0.30.12" }
wtransport.workspace       = true
xdid.workspace             = true
zeroize.workspace          = true
