[package]
build                = "build.rs"
edition.workspace    = true
license.workspace    = true
name                 = "unavi-client"
publish              = false
repository.workspace = true
version.workspace    = true

[features]
default          = []
devtools         = ["devtools-bevy", "devtools-network"]
devtools-bevy    = ["bevy/bevy_dev_tools"]
devtools-network = []

[lints]
workspace = true

[build-dependencies]
embed-resource.workspace = true

[dependencies]
anyhow.workspace          = true
avian3d.workspace         = true
bevy                      = { default-features = true, features = ["https"], workspace = true }
bevy_vrm.workspace        = true
bincode.workspace         = true
clap.workspace            = true
constcat.workspace        = true
directories.workspace     = true
dwn.workspace             = true
flume.workspace           = true
futures.workspace         = true
image                     = { features = ["png"], workspace = true }
log                       = { features = ["max_level_debug", "release_max_level_info"], version = "*" }
reqwest                   = { default-features = false, features = ["blocking", "rustls-tls"], version = "0.12.24" }
scc.workspace             = true
serde.workspace           = true
serde_json.workspace      = true
smallvec.workspace        = true
tarpc                     = { features = ["serde-transport"], workspace = true }
tokio                     = { features = ["rt", "rt-multi-thread"], workspace = true }
tokio-serde               = { features = ["bincode"], workspace = true }
unavi-constants.path      = "../unavi-constants"
unavi-input.path          = "../unavi-input"
unavi-player.path         = "../unavi-player"
unavi-portal.path         = "../unavi-portal"
unavi-script.path         = "../unavi-script"
unavi-server-service.path = "../unavi-server-service"
winit                     = { default-features = false, version = "0.30.12" }
wired-protocol.path       = "../wired-protocol"
wtransport.workspace      = true
xdid.workspace            = true
zeroize.workspace         = true
