@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply antialiased;
}

.max-w-content {
  @apply w-full max-w-screen-xl;
}

.show-on-scroll {
  @apply opacity-0;
}

/* Scrollbar Width */
::-webkit-scrollbar {
  width: 16px;
}

/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 16px;
  border: 4px solid transparent;
  background-clip: content-box;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

/* React-dnd */
.bg-position-move {
  background-size: 200%;
  background-position: left;
  transition: background-position 50ms;
}

.bg-position-move:hover {
  background-position: right;
}

/* React-split */
.gutter.gutter-vertical {
  cursor: row-resize;
  @apply border-t;
}

.gutter.gutter-horizontal {
  float: left;
  height: calc(100%);
  cursor: col-resize;
}
