@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply selection:bg-sky-100 antialiased;
}

.max-w-content {
  @apply w-full max-w-screen-lg;
}

.show-on-scroll {
  @apply opacity-0;
}

/* Scrollbar Width */
::-webkit-scrollbar {
  width: 16px;
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
  background-color: #fff;
}

/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
  background-color: #bbb;
  border-radius: 16px;
  border: 4px solid transparent;
  background-clip: content-box;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}

/* Crosshair */
.crosshair {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1;
  mix-blend-mode: difference;
}

.crosshair::before {
  content: "";
  display: block;
  height: 11px;
  border-left: 1px solid #fff;
  margin-bottom: -6px;
}

.crosshair::after {
  content: "";
  display: block;
  width: 11px;
  border-top: 1px solid #fff;
  margin-left: -5px;
}

/* React-dnd */
.bg-position-move {
  background-size: 200%;
  background-position: left;
  transition: background-position 50ms;
}

.bg-position-move:hover {
  background-position: right;
}

/* React-split */
.gutter.gutter-vertical {
  cursor: row-resize;
  @apply border-t;
}

.gutter.gutter-horizontal {
  float: left;
  height: calc(100%);
  cursor: col-resize;
}
