html,
body,
.App,
#root,
#__next {
  background-color: #fbe8d3;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.split {
  display: flex;
  flex-direction: row;
}

.gutter:hover {
  cursor: col-resize;
}

.NavbarIcon {
  font-size: 1.4rem;
}

.clickable {
  cursor: pointer;
}

.page {
  margin: auto !important;
  padding-left: 5vw;
  padding-right: 5vw;
}

.link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.container {
  max-width: 1400px !important;
  margin: auto !important;
  padding-left: 5vw;
  padding-right: 5vw;
}

a {
  text-decoration: none;
  color: inherit;
}
