(
    id: "hsd/document",
    version: 0,
    layout: Struct({
        "materials": Map(Struct({
            "alpha_cutoff": Optional(F64),
            "alpha_mode": Optional(String),
            "base_color": Optional(List(F64)),
            "base_color_texture": Optional(BlobId),
            "double_sided": Optional(Bool),
            "emissive": Optional(List(F64)),
            "emissive_texture": Optional(BlobId),
            "metallic": Optional(F64),
            "metallic_roughness_texture": Optional(BlobId),
            "name": Optional(String),
            "normal_texture": Optional(BlobId),
            "occlusion_texture": Optional(BlobId),
            "roughness": Optional(F64),
        })),
        "meshes": Map(Struct({
            "attributes": Map(BlobId),
            "indices": Optional(BlobId),
            "name": Optional(String),
            "topology": I64,
        })),
        "nodes": Tree(Struct({
            "collider": Optional(Struct({
                "shape": String,
                "size": List(F64),
            })),
            "material": Optional(String),
            "mesh": Optional(String),
            "name": Optional(String),
            "rigid_body": Optional(Struct({
                "angular_damping": Optional(F64),
                "friction": Optional(F64),
                "kind": String,
                "linear_damping": Optional(F64),
                "mass": Optional(F64),
                "restitution": Optional(F64),
            })),
            "rotation": Optional(List(F64)),
            "scale": Optional(List(F64)),
            "scripts": Optional(List(BlobId)),
            "translation": Optional(List(F64)),
        })),
    }),
)
