(
    id: "hsd/document",
    version: 0,
    layout: Tree(Struct({
        "attributes": Optional(Struct({
            "asset": Optional(BlobId),
            "collider": Optional(Enum({
                "Capsule": Some(Struct({
                    "height": F64,
                    "radius": F64,
                })),
                "ConvexHull": Some(BlobId),
                "Cuboid": Some(Struct({
                    "x": F64,
                    "y": F64,
                    "z": F64,
                })),
                "Cylinder": Some(Struct({
                    "height": F64,
                    "radius": F64,
                })),
                "Sphere": Some(F64),
                "Trimesh": Some(Struct({
                    "indices": BlobId,
                    "vertices": BlobId,
                })),
            })),
            "image": Optional(Struct({
                "address_mode_u": Optional(I64),
                "address_mode_v": Optional(I64),
                "address_mode_w": Optional(I64),
                "data": BlobId,
                "mag_filter": Optional(I64),
                "min_filter": Optional(I64),
                "mipmap_filter": Optional(I64),
                "name": Optional(String),
                "srgb": Optional(Bool),
            })),
            "material": Optional(Struct({
                "alpha_cutoff": Optional(F64),
                "alpha_mode": Optional(String),
                "base_color": Optional(List(F64)),
                "base_color_texture": Optional(String),
                "double_sided": Optional(Bool),
                "emissive": Optional(List(F64)),
                "emissive_texture": Optional(String),
                "metallic": Optional(F64),
                "metallic_roughness_texture": Optional(String),
                "name": Optional(String),
                "normal_texture": Optional(String),
                "occlusion_texture": Optional(String),
                "roughness": Optional(F64),
            })),
            "mesh": Optional(Struct({
                "attributes": Map(BlobId),
                "indices": Optional(BlobId),
                "topology": String,
            })),
            "name": Optional(String),
            "rigid_body": Optional(Struct({
                "angular_damping": Optional(F64),
                "friction": Optional(F64),
                "kind": String,
                "linear_damping": Optional(F64),
                "mass": Optional(F64),
                "restitution": Optional(F64),
            })),
            "script": Optional(BlobId),
            "xform": Optional(Struct({
                "rotation": Optional(List(F64)),
                "scale": Optional(List(F64)),
                "translation": Optional(List(F64)),
            })),
        })),
        "relationships": Map(String),
    })),
)