(
    id: "hsd/stage",
    version: 0,
    layout: Struct({
        "layers": MovableList(Struct({
            "enabled": Bool,
            "opinions": List(Struct({
                "attrs": Map(Any),
                "node": I64,
            })),
        })),
    }),
)