(
    id: "hsd/stage",
    version: 0,
    layout: Struct({
        "layers": MovableList(Struct({
            "enabled": Bool,
            "opinions": List(Struct({
                "attrs": Struct({
                    "collider/params": Optional(List(F64)),
                    "collider/shape": Optional(String),
                    "material/alpha_cutoff": Optional(F64),
                    "material/alpha_mode": Optional(String),
                    "material/base_color": Optional(List(F64)),
                    "material/base_color_texture": Optional(BlobRef),
                    "material/double_sided": Optional(Bool),
                    "material/metallic": Optional(F64),
                    "material/metallic_roughness_texture": Optional(BlobRef),
                    "material/normal_texture": Optional(BlobRef),
                    "material/occlusion_texture": Optional(BlobRef),
                    "material/roughness": Optional(F64),
                    "mesh/colors": Optional(BlobRef),
                    "mesh/indices": Optional(BlobRef),
                    "mesh/normals": Optional(BlobRef),
                    "mesh/points": Optional(BlobRef),
                    "mesh/tangents": Optional(BlobRef),
                    "mesh/topology": Optional(I64),
                    "mesh/uvs": Optional(BlobRef),
                    "rigid_body/friction": Optional(F64),
                    "rigid_body/kind": Optional(String),
                    "rigid_body/mass": Optional(F64),
                    "xform/parent": Optional(I64),
                    "xform/pos": Optional(List(F64)),
                    "xform/rot": Optional(List(F64)),
                    "xform/scale": Optional(List(F64)),
                }),
                "node": I64,
            })),
        })),
    }),
)