[graph]
all-features = true
targets      = ["wasm32-unknown-unknown", "x86_64-apple-darwin", "x86_64-pc-windows-msvc", "x86_64-unknown-linux-gnu"]

[licenses]
allow = [
  "Apache-2.0 WITH LLVM-exception",
  "Apache-2.0",
  "BSD-2-Clause",
  "BSD-3-Clause",
  "BSL-1.0",
  "CC0-1.0",
  "CDLA-Permissive-2.0",
  "ISC",
  "MIT",
  "MIT-0",
  "MPL-2.0",
  "OpenSSL",
  "Unicode-3.0",
  "Unlicense",
  "Zlib",
  "bzip2-1.0.6",
]
version = 2

[advisories]
ignore = [
  "RUSTSEC-2023-0071", # rsa sidechannel
  "RUSTSEC-2024-0370", # proc-macro-error no longer maintained
  "RUSTSEC-2024-0384", # instant unmaintained
  "RUSTSEC-2024-0429", # glib unsoundness
  "RUSTSEC-2024-0436", # paste unmaintained

  # gtk-rs no longer maintained
  "RUSTSEC-2024-0411",
  "RUSTSEC-2024-0412",
  "RUSTSEC-2024-0413",
  "RUSTSEC-2024-0415",
  "RUSTSEC-2024-0416",
  "RUSTSEC-2024-0418",
  "RUSTSEC-2024-0419",
  "RUSTSEC-2024-0420",
]
version = 2

[bans]
deny              = [{ deny-multiple-versions = true, name = "bevy" }, { deny-multiple-versions = true, name = "tokio" }]
multiple-versions = "warn"

[sources]
allow-git = [
  "https://github.com/kayhhh/iroh-blobs",
  "https://github.com/komadori/bevy_mod_outline?branch=bevy-0.17",
  "https://github.com/oelison/Schminput",
  "https://github.com/unavi-xyz/bevy_vrm",
  "https://github.com/unavi-xyz/gltf_kun",
  "https://github.com/unavi-xyz/xdid",
]
allow-registry = ["https://github.com/rust-lang/crates.io-index"]
unknown-git = "deny"
unknown-registry = "deny"
