# docker
Dockerfile
.dockerignore
docker/

# dependencies
node_modules
.pnp
.pnp.js

# next.js
.next/
out/
build

# other
.turbo
.docusaurus
.vscode
README.md

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# typescript
*.tsbuildinfo

# codegen
generated

# client
.vercel