# Needed for release workflow, to avoid "uncommitted changes" errors.
artifacts/

# Bevy assets
crates/unavi-client/assets/audio
crates/unavi-client/assets/hsd
crates/unavi-client/assets/model
crates/unavi-client/assets/video
crates/unavi-client/assets/wasm

# Nix
result

# Rust
target/

# Trunk
dist-webgl/
dist-webgpu/
dist/

# Npm
node_modules/

# Generated web script assets
crates/unavi-client/assets/scripts/
crates/unavi-script/assets/scripts/*.wasm
crates/unavi-script/assets/scripts/jco-runtime.js

# WIT
deps/

# Env
.direnv
.envrc

# Other
*.db
docs/
