# Needed for release workflow, to avoid "uncommitted changes" errors.
artifacts/

# Bevy assets
crates/unavi-client/assets/audio
crates/unavi-client/assets/model
crates/unavi-client/assets/video
crates/unavi-client/assets/wasm

# Nix
result

# Rust
target/

# Trunk
dist/

# Other
.direnv
*.db
