# Claude
.serena
CLAUDE.md

# Needed for release workflow, to avoid "uncommitted changes" errors.
artifacts/

# Bevy assets
crates/unavi-client/assets/wasm
.web-asset-cache/

# Nix
result

# Rust
target
