# dependencies
.pnp
.pnp.js
node_modules
pnpm-lock.yaml

# build
build/
dist/

# next.js
.next/
out/

# other
.docusaurus
.turbo
.vscode

# misc
.DS_Store
*.pem

# local env files
.env.development.local
.env.local
.env.production.local
.env.test.local

# typescript
*.tsbuildinfo

# codegen
!apps/docs/docs/packages/index.md
apps/docs/docs/packages/*
generated

# client
.vercel
apps/client/public/**/*.js
apps/client/public/**/*.svg
apps/light-client/public/**/*.js
draco_encoder_wrapper.js
draco_wasm_wrapper_gltf.js

# docs
apps/docs/docs-api/engine
apps/docs/docs-api/gltf-extensions

# engine
font.json