[workspace]
members  = ["crates/*", "wasm/*"]
resolver = "2"

[workspace.package]
edition    = "2024"
license    = "MPL-2.0"
repository = "https://github.com/unavi-xyz/unavi"
version    = "0.0.11-beta.13"

[workspace.lints.clippy]
too_many_arguments = "allow"
type_complexity    = "allow"

[workspace.metadata.release]
publish        = false
shared-version = true
tag-name       = "v{{version}}"

[workspace.dependencies]
anyhow             = "1.0.100"
avian3d            = "0.3"
bevy               = "0.16.1"
bincode            = "2.0.1"
directories        = "6.0.0"
embed-resource     = "2.5"
futures            = "0.3.31"
image              = "0.25.5"
semver             = "1.0.27"
serde              = "1.0.228"
serde_json         = "1.0.145"
tarpc              = "0.37.0"
tokio              = "1.47.1"
tokio-serde        = "0.9.0"
tracing            = "0.1.41"
tracing-subscriber = "0.3.19"
tracing-test       = { features = ["no-env-filter"], version = "0.2.5" }
wit-bindgen        = "0.46.0"
wtransport         = "0.6.1"
zeroize            = "1.8.2"

bevy_vrm = "0.1.0"

bevy_gltf_kun = "0.2.0"
gltf_kun      = "0.2.0"

dwn        = "0.4.0"
dwn-server = "0.4.0"
xdid       = "0.4.0"

[patch.crates-io]
bevy_gltf_kun = { git = "https://github.com/unavi-xyz/gltf_kun" }
bevy_vrm      = { git = "https://github.com/unavi-xyz/bevy_vrm" }
dwn           = { git = "https://github.com/unavi-xyz/dwn" }
dwn-server    = { git = "https://github.com/unavi-xyz/dwn" }
gltf_kun      = { git = "https://github.com/unavi-xyz/gltf_kun" }
xdid          = { git = "https://github.com/unavi-xyz/dwn" }

[profile.release]
lto = "thin"

[profile.release-wasm]
inherits  = "release"
opt-level = "s"

[profile.wasm-dev]
inherits  = "dev"
opt-level = 1

[profile.server-dev]
inherits = "dev"

[profile.android-dev]
inherits = "dev"
