[workspace]
resolver = "2"
members = ["crates/*", "wasm/*"]

[workspace.package]
version = "0.0.10"
authors = ["kayh"]
edition = "2021"
license = "MPL-2.0"
repository = "https://github.com/unavi-xyz/unavi"

[workspace.lints.clippy]
too_many_arguments = "allow"
type_complexity = "allow"

[workspace.dependencies]
anyhow = "1.0.82"
avian3d = { version = "0.1.0", features = ["simd"] }
axum = "0.7.5"
axum-server = "0.6.0"
base64 = "0.22.0"
bevy = "0.14.0"
bevy-inspector-egui = "0.25.1"
bevy_async_task = "0.2.0"
bevy_panorbit_camera = "0.19.0"
bevy_vr_controller = "0.1.1"
bevy_vrm = "0.0.12"
capnp = "0.19.4"
capnp-rpc = "0.19.1"
clap = { version = "4.5.4", features = ["derive"] }
didkit = { version = "0.6.0", default-features = false, features = ["ed25519"] }
directories = "5.0.1"
dwn = "0.0.9"
glam = "0.28.0"
reqwest = "0.12.5"
semver = "1.0.22"
serde = { version = "1.0.197", features = ["derive"] }
serde_json = "1.0.115"
surrealdb = { version = "1.5.5", default-features = false }
thiserror = "1.0.61"
tokio = { version = "1.40.0", features = ["macros", "rt", "time"] }
tracing = "0.1.40"
tracing-test = "0.2.4"
wasm-bindgen = "0.2.92"
wasm-bindgen-futures = "0.4.41"
web-sys = "0.3.70"
wit-bindgen-rt = { version = "0.23.0", features = ["bitflags"] }
wtransport = "0.3.0"
xwt-core = { version = "0.5.0", git = "https://github.com/kayhhh/xwt" }
xwt-wtransport = { version = "0.9.0", git = "https://github.com/kayhhh/xwt" }

[workspace.metadata.release]
publish = false
shared-version = true
tag-name = "v{{version}}"

[profile.dev]
opt-level = 1

[profile.dev.package.bevy]
opt-level = 3

[profile.release]
lto = "thin"

[profile.release-wasm]
inherits = "release"
opt-level = "s"
