[workspace]
resolver = "2"
members = [
  "crates/*",
  "wasm/*",
]

[workspace.package]
version = "0.0.3"
edition = "2021"
repository = "https://github.com/unavi-xyz/unavi"
license = "MPL-2.0"

[workspace.lints.clippy]
too_many_arguments = "allow"
type_complexity = "allow"

[workspace.dependencies]
anyhow = "1.0.82"
axum = "0.7.5"
axum-server = "0.6.0"
base64 = "0.22.0"
bevy = "0.13.1"
bevy_async_task = "0.1.0"
bevy_panorbit_camera = "0.18.2"
bevy_vrm = "0.0.10"
bevy_xpbd_3d = { version = "0.4.2", features = ["simd"] }
capnp = "0.19.4"
capnp-rpc = "0.19.1"
clap = { version = "4.5.4", features = ["derive"] }
didkit = { version = "0.6.0", default-features = false, features = ["ed25519"] }
dwn = "0.0.9"
reqwest = "0.11.27"
semver = "1.0.22"
serde = { version = "1.0.197", features = ["derive"] }
serde_json = "1.0.115"
surrealdb = { version = "1.5.1", default-features = false }
thiserror = "1.0.61"
tokio = { version = "1.38.0", features = ["macros", "rt", "time"]}
tracing = "0.1.40"
tracing-test = "0.2.4"
wasm-bindgen = "=0.2.92"
wasm-bindgen-futures = "0.4.41"
web-sys = "0.3.68"
wit-bindgen-rt = { version = "0.23.0", features = ["bitflags"] }
wtransport = "0.1.8"
xwt-core = "0.4.1"
xwt-wtransport = "0.7.0"

[profile.dev]
opt-level = 1

[profile.dev.package.bevy]
opt-level = 3

[profile.release]
lto = true

[profile.release-wasm]
inherits = "release"
codegen-units = 1
opt-level = "s"

[profile.release-web]
inherits = "release"
lto = false
opt-level = "s"
