[package]
name = "unavi-world"
publish = false
version.workspace = true
license.workspace = true
repository.workspace = true
edition.workspace = true

[lints]
workspace = true

[dependencies]
avian3d.workspace = true
base64.workspace = true
bevy.workspace = true
bevy_async_task.workspace = true
bevy_vrm.workspace = true
dwn.workspace = true
serde_json.workspace = true
surrealdb = { workspace = true, features = ["kv-mem"] }
thiserror.workspace = true
wired-social = { path = "../wired-social" }

[target.'cfg(not(target_family = "wasm"))'.dependencies]
bevy_atmosphere = "0.10.0"
