[package]
name = "unavi-app"
version.workspace = true
license.workspace = true
repository.workspace = true
edition.workspace = true

[lints]
workspace = true

[features]
disable-cert-validation = ["wtransport/dangerous-configuration"]

[dependencies]
bevy-async-task = "1.4.0"
bevy-tnua = "0.15.0"
bevy-tnua-xpbd3d = "0.2.0"
bevy.workspace = true
bevy_vrm = "0.0.8"
bevy_xpbd_3d = { version = "0.4.2", features = ["simd"] }
did-method-key = "0.2.2"
didkit = { version = "0.6.0", default-features = false, features = ["w3c", "ed25519", "ripemd-160", "http-did"] }
tracing.workspace = true
wasm-bridge = { version = "0.3.0", features = ["component-model"] }
xwt = "0.6.0"
xwt-core = "0.2.2"

[target.'cfg(target_family = "wasm")'.dependencies]
xwt-web-sys = "0.6.0"

[target.'cfg(not(target_family = "wasm"))'.dependencies]
wtransport.workspace = true
