[package]
edition.workspace = true
license.workspace = true
name = "unavi-app"
publish = false
repository.workspace = true
version.workspace = true

[lints]
workspace = true

[dependencies]
anyhow = "1.0.95"
bevy = { workspace = true, features = ["wayland"] }
directories = "5.0.1"
image = { version = "0.25.5", default-features = false, features = ["png"] }
reqwest = "0.12.11"
self_update = "0.41.0"
tempfile = "3.16.0"
winit = { version = "0.30.7", default-features = false }
zip = { version = "2.2.2", default-features = false, features = ["deflate"] }
