[package]
name = "unavi-app"
version.workspace = true
license.workspace = true
repository.workspace = true
edition.workspace = true

[lints]
workspace = true

[features]
disable-cert-validation = ["wtransport/dangerous-configuration"]

[dependencies]
bevy-async-task = "1.4.0"
bevy.workspace = true
bevy_rapier3d = { version = "0.25.0", features = ["simd-stable"] }
bevy_vrm = "0.0.8"
did-method-key = "0.2.2"
didkit = { version = "0.6.0", default-features = false, features = ["w3c", "ed25519", "ripemd-160", "http-did"] }
tracing.workspace = true
xwt = "0.6.0"
xwt-core = "0.2.2"

[target.'cfg(target_family = "wasm")'.dependencies]
wasm-bindgen = "0.2.89"
xwt-web-sys = "0.6.0"

[target.'cfg(not(target_family = "wasm"))'.dependencies]
wasmtime = { version = "18.0.2", features = ["component-model"] }
wtransport.workspace = true
