(
    id: "hsd/mesh",
    version: 0,
    layout: Struct({
        "colors": Optional(BlobRef),
        "indices": BlobRef,
        "normals": Optional(BlobRef),
        "points": BlobRef,
        "tangents": Optional(BlobRef),
        "topology": I64,
        "uvs": Optional(BlobRef),
    }),
)
