(
    id: "wired/hsd/attr/mesh",
    version: 0,
    layout: Struct({
        "colors": Optional(BlobRef),
        "indices": Optional(BlobRef),
        "normals": Optional(BlobRef),
        "points": Optional(BlobRef),
        "tangents": Optional(BlobRef),
        "uvs": Optional(BlobRef),
    }),
)