[package]
edition.workspace    = true
license.workspace    = true
name                 = "wds"
publish              = false
repository.workspace = true
version.workspace    = true

[lints]
workspace = true

[features]
default                 = []
discovery-local-network = ["iroh/discovery-local-network"]

[dependencies]
anyhow.workspace             = true
bincode                      = { features = ["derive"], version = "2" }
blake3                       = { features = ["serde"], version = "1.8.2" }
bytes                        = "1.11.0"
clap.workspace               = true
directories.workspace        = true
flume.workspace              = true
futures.workspace            = true
getrandom                    = "0.3.4"
iroh.workspace               = true
iroh-blobs                   = "0.97.0"
iroh-tickets.workspace       = true
irpc                         = "0.11.0"
irpc-iroh                    = "0.11.0"
jose-jwk                     = "0.1.2"
loro                         = "1.10.3"
n0-error                     = { features = ["anyhow"], version = "0.1.2" }
p256                         = { features = ["ecdsa"], version = "0.13.2" }
parking_lot                  = { features = ["arc_lock"], workspace = true }
postcard.workspace           = true
rand.workspace               = true
ring                         = "0.17.14"
scc.workspace                = true
serde.workspace              = true
signature                    = "2.2.0"
smol_str                     = "0.3.4"
sqlx                         = { features = ["runtime-tokio", "sqlite"], version = "0.8.6" }
thiserror                    = "2.0.17"
time                         = "0.3.44"
tokio.workspace              = true
tracing.workspace            = true
tracing-subscriber.workspace = true
xdid.workspace               = true

[dev-dependencies]
rstest             = "0.26.1"
tempfile.workspace = true
tokio              = { features = ["macros", "rt-multi-thread"], workspace = true }
tracing-test       = { features = ["no-env-filter"], workspace = true }
