[package]
edition.workspace    = true
license.workspace    = true
name                 = "wds"
publish              = false
repository.workspace = true
version.workspace    = true

[lints]
workspace = true

[features]
default                 = []
discovery-local-network = ["iroh/discovery-local-network"]

[dependencies]
anyhow.workspace   = true
blake3             = { features = ["serde"], version = "1.8.2" }
bytes              = "1.11.0"
futures.workspace  = true
iroh.workspace     = true
iroh-blobs         = "0.97.0"
irpc               = "0.11.0"
irpc-iroh          = "0.11.0"
jose-jwk           = "0.1.2"
loro               = "1.10.3"
n0-error           = { features = ["anyhow"], version = "0.1.2" }
p256               = { features = ["ecdsa"], version = "0.13.2" }
postcard.workspace = true
rand.workspace     = true
ring               = "0.17.14"
ron                = "0.12.0"
scc.workspace      = true
serde.workspace    = true
smol_str           = "0.3.4"
sqlx               = { features = ["runtime-tokio", "sqlite"], version = "0.8.6" }
time               = "0.3.44"
tokio.workspace    = true
tracing.workspace  = true
xdid.workspace     = true

[dev-dependencies]
rstest             = "0.26.1"
tempfile.workspace = true
tokio              = { features = ["macros", "rt-multi-thread"], workspace = true }
tracing-test       = { features = ["no-env-filter"], workspace = true }
