[package]
edition.workspace    = true
license.workspace    = true
name                 = "unavi-constants"
publish              = false
repository.workspace = true
version.workspace    = true

[lints]
workspace = true

[dependencies]
constcat.workspace = true
semver.workspace   = true
