{
  "root": true,
  "extends": ["custom"],
  "rules": {
    "@next/next/no-html-link-for-pages": "error"
  },
  "settings": {
    "next": {
      "rootDir": "apps/client"
    },
    "tailwindcss": {
      "config": "apps/client/tailwind.config.js"
    }
  }
}
