[package]
name = "unavi-scripting"
version.workspace = true
license.workspace = true
repository.workspace = true
edition.workspace = true

[lints]
workspace = true

[dependencies]
anyhow.workspace = true
bevy.workspace = true
crossbeam = { version = "0.8.4", features = ["crossbeam-channel"] }
wasm_component_layer = "0.1.16"

[target.'cfg(target_family = "wasm")'.dependencies]
wasm_runtime_layer = { version = "0.3.0", features = ["tracing", "backend_wasmi"] }
wasmi = "0.31.0"

[target.'cfg(not(target_family = "wasm"))'.dependencies]
wasm_runtime_layer = { version = "0.3.0", features = ["tracing", "backend_wasmtime"] }
wasmtime = { version = "18.0.0", features = ["component-model"] }

[dev-dependencies]
bevy_panorbit_camera.workspace = true
tokio.workspace = true
tracing-test = { workspace = true, features = ["no-env-filter"] }
tracing.workspace = true
