[package]
edition.workspace    = true
license.workspace    = true
name                 = "wired-ecs-derive"
publish              = false
repository.workspace = true
version.workspace    = true

[lints]
workspace = true

[lib]
proc-macro = true

[dependencies]
proc-macro-crate = "3.4.0"
proc-macro2      = "1.0.103"
quote            = "1.0.42"
syn              = "2.0.110"
