[package]
edition.workspace    = true
license.workspace    = true
name                 = "unavi-launcher"
publish              = false
repository.workspace = true
version.workspace    = true

[lints]
workspace = true

[dependencies]
anyhow.workspace = true
dioxus           = { features = ["native", "router"], version = "0.7.0" }
