[package]
name = "unavi-web-client"
version.workspace = true
license.workspace = true
repository.workspace = true
edition.workspace = true

[lints]
workspace = true

[lib]
crate-type = ["cdylib"]

[dependencies]
leptos = { version = "0.5.1", features = ["hydrate"] }
unavi-web-common = { path = "../unavi-web-common", features = ["hydrate"] }
unavi-app = { path = "../unavi-app" }
console_error_panic_hook = "0.1.7"
