(
    id: "wired/acl",
    version: 0,
    container: "acl",
    layout: Restricted(
        actions: [
            (
                who: Path("acl.manage"),
                can: [
                    Update,
                ],
            ),
        ],
        value: Map({
            "manage": List(String),
            "public": Bool,
            "read": List(String),
            "write": List(String),
        }),
    ),
)