(
    id: "wired/record",
    version: 0,
    container: Some("record"),
    layout: Struct({
        "creator": String,
        "nonce": Binary,
        "schemas": List(String),
        "timestamp": I64,
    }),
)