(
    id: "wired/record",
    version: 0,
    container: "record",
    layout: Map({
        "creator": String,
        "nonce": Binary,
        "schemas": List(String),
        "timestamp": I64,
    }),
)