[build]
rustflags = ["-Z", "threads=8"]

[target.x86_64-unknown-linux-gnu]
linker    = "clang"
rustflags = ["-Clink-arg=-fuse-ld=mold", "-Zshare-generics=y"]

[target.wasm32-wasip2]
linker = "lld"

[target.wasm32-unknown-unknown]
linker = "lld"

[unstable]
codegen-backend = true
