[package]
name = "unavi-ui"
publish = false
version.workspace = true
edition.workspace = true
repository.workspace = true
license.workspace = true

[lib]
crate-type = ["cdylib"]

[dependencies]
meshtext = { version = "0.3.0", features = ["owned"] }
wit-bindgen-rt.workspace = true

[package.metadata.component]
package = "unavi:ui"

[package.metadata.component.target]
world = "guest"

[package.metadata.component.target.dependencies]
"unavi:layout" = { path = "../unavi-layout/wit" }
"unavi:shapes" = { path = "../unavi-shapes/wit" }
"wired:input" = { path = "../../wired-protocol/spatial/wit/wired-input" }
"wired:log" = { path = "../../wired-protocol/spatial/wit/wired-log" }
"wired:math" = { path = "../../wired-protocol/spatial/wit/wired-math" }
"wired:physics" = { path = "../../wired-protocol/spatial/wit/wired-physics" }
"wired:scene" = { path = "../../wired-protocol/spatial/wit/wired-scene" }
