<?xml version="1.0" encoding="windows-1252"?>
<?if $(sys.BUILDARCH) = x64 or $(sys.BUILDARCH) = arm64 ?>
    <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
<?else ?>
    <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
<?endif ?>

<?define AppName = "UNAVI" ?>
<?define Manufacturer = "UNAVI" ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product
        Id="*"
        Name="$(var.AppName)"
        UpgradeCode="CD21570F-A50A-4B80-97A9-2A8ACCB87ABA"
        Manufacturer="$(var.Manufacturer)"
        Language="1033"
        Codepage="1252"
        Version="$(var.Version)">

        <Package
            Id="*"
            Description="UNAVI Launcher"
            Comments="Open-source VR social platform"
            Keywords="Installer"
            Manufacturer="$(var.Manufacturer)"
            InstallerVersion="500"
            Languages="1033"
            Compressed="yes"
            InstallScope="perMachine"
            SummaryCodepage="1252"
            />

        <MajorUpgrade
            Schedule="afterInstallInitialize"
            DowngradeErrorMessage="A newer version of [ProductName] is already installed. Setup will now exit."/>

        <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="$(var.PlatformProgramFilesFolder)">
                <Directory Id="APPLICATIONFOLDER" Name="$(var.AppName)">
                    <Component Id="MainExecutable" Guid="*">
                        <File
                            Id="LauncherExe"
                            Name="unavi-launcher.exe"
                            Source="$(var.CargoTargetBinDir)\unavi-launcher.exe"
                            KeyPath="yes"
                            />
                    </Component>
                </Directory>
            </Directory>

            <Directory Id="ProgramMenuFolder">
                <Directory Id="ProgramMenuDir" Name="$(var.AppName)">
                    <Component Id="StartMenuShortcut" Guid="*">
                        <Shortcut
                            Id="ApplicationShortcut"
                            Name="$(var.AppName)"
                            Description="Launch UNAVI"
                            Target="[APPLICATIONFOLDER]unavi-launcher.exe"
                            WorkingDirectory="APPLICATIONFOLDER"
                            Icon="ProductICO"
                            />
                        <RemoveFolder Id="CleanupProgramMenuDir" On="uninstall" />
                        <RegistryValue
                            Root="HKCU"
                            Key="Software\$(var.Manufacturer)\$(var.AppName)"
                            Name="Installed"
                            Type="integer"
                            Value="1"
                            KeyPath="yes"
                            />
                    </Component>
                </Directory>
            </Directory>

            <Directory Id="DesktopFolder">
                <Component Id="DesktopShortcut" Guid="*">
                    <Shortcut
                        Id="DesktopApplicationShortcut"
                        Name="$(var.AppName)"
                        Description="Launch UNAVI VR platform"
                        Target="[APPLICATIONFOLDER]unavi-launcher.exe"
                        WorkingDirectory="APPLICATIONFOLDER"
                        Icon="ProductICO"
                        />
                    <RegistryValue
                        Root="HKCU"
                        Key="Software\$(var.Manufacturer)\$(var.AppName)"
                        Name="DesktopShortcut"
                        Type="integer"
                        Value="1"
                        KeyPath="yes"
                        />
                </Component>
            </Directory>
        </Directory>

        <Feature
            Id="Complete"
            Title="$(var.AppName)"
            Description="UNAVI Launcher"
            Level="1"
            ConfigurableDirectory="APPLICATIONFOLDER"
            AllowAdvertise="no">
            <ComponentRef Id="MainExecutable"/>
            <ComponentRef Id="StartMenuShortcut"/>
            <ComponentRef Id="DesktopShortcut"/>
        </Feature>

        <SetProperty Id="ARPINSTALLLOCATION" Value="[APPLICATIONFOLDER]" After="CostFinalize"/>

        <Icon Id="ProductICO" SourceFile="crates\unavi-launcher\wix\logo.ico"/>
        <Property Id="ARPPRODUCTICON" Value="ProductICO" />
        <Property Id="ARPHELPLINK" Value="https://github.com/unavi-xyz/unavi"/>
        <Property Id="ARPURLINFOABOUT" Value="https://unavi.xyz"/>

        <Property Id="WIXUI_INSTALLDIR" Value="APPLICATIONFOLDER" />

        <UI>
            <UIRef Id="WixUI_InstallDir"/>
            <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg" Order="2">1</Publish>
            <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">1</Publish>
        </UI>
    </Product>
</Wix>
