@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply antialiased;
}

.max-w-content {
  @apply w-full max-w-screen-xl;
}

.show-on-scroll {
  @apply opacity-0;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 16px;
  border: 4px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
