@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Lato", sans-serif;
  @apply bg-neutral-100;
}

.max-w {
  @apply max-w-3xl w-full;
}

.gradient-text {
  @apply font-bold bg-clip-text text-transparent bg-gradient-to-r from-purple-600 to-secondary;
}

.crosshair {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1;
  mix-blend-mode: difference;
}

.crosshair::before {
  content: "";
  display: block;
  height: 11px;
  border-left: 1px solid #fff;
  margin-bottom: -6px;
}

.crosshair::after {
  content: "";
  display: block;
  width: 11px;
  border-top: 1px solid #fff;
  margin-left: -5px;
}

.bg-position-move {
  background-size: 200%;
  background-position: left;
  transition: background-position 50ms;
}

.bg-position-move:hover {
  background-position: right;
}
