@tailwind base;
@tailwind components;
@tailwind utilities;

/* tailwindcss */
html {
  font-family: "Lato", sans-serif;
  @apply bg-background text-onBackground;
}

.max-w {
  @apply max-w-5xl w-full;
}

/* crosshair */
.crosshair {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1;
  mix-blend-mode: difference;
}

.crosshair::before {
  content: "";
  display: block;
  height: 11px;
  border-left: 1px solid #fff;
  margin-bottom: -6px;
}

.crosshair::after {
  content: "";
  display: block;
  width: 11px;
  border-top: 1px solid #fff;
  margin-left: -5px;
}

/* react-dnd */
.bg-position-move {
  background-size: 200%;
  background-position: left;
  transition: background-position 50ms;
}

.bg-position-move:hover {
  background-position: right;
}

/* react-split */
.gutter.gutter-vertical {
  cursor: row-resize;
  @apply border-t;
}

.gutter.gutter-horizontal {
  float: left;
  height: calc(100%);
  cursor: col-resize;
}
