name: Build Windows
on:
  workflow_call:
    inputs:
      channel:
        description: channel to build
        required: true
        type: string
      ref:
        description: ref to build
        type: string
jobs:
  build-wasm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          ref: ${{ inputs.ref || github.ref }}
      - uses: DeterminateSystems/determinate-nix-action@v3
        with:
          extra-conf: extra-experimental-features = pipe-operators
      - uses: DeterminateSystems/magic-nix-cache-action@main
      - run: ls
      - run: ls scripts
      - name: Build WASM assets
        run: nix develop .#minimal -c nu scripts/build-wasm.nu
      - name: Upload artifact
        uses: actions/upload-artifact@v5
        with:
          name: wasm-assets
          path: crates/unavi-client/assets/wasm
          retention-days: 1
  build-windows:
    needs: build-wasm
    runs-on: windows-latest
    strategy:
      matrix:
        package: [unavi-client, unavi-launcher]
    name: ${{ matrix.package }}-x86_64-windows
    steps:
      - uses: actions/checkout@v5
        with:
          ref: ${{ inputs.ref || github.ref }}
      - uses: actions/download-artifact@v6
        with:
          pattern: wasm-assets
          path: crates/unavi-client/assets/wasm
      - uses: crazy-max/ghaction-chocolatey@v3
        with:
          args: install wixtoolset
      - uses: Swatinem/rust-cache@v2
      - uses: dtolnay/rust-toolchain@nightly
        with:
          targets: x86_64-pc-windows-msvc
      - run: cargo install cargo-wix
      - name: Set build environment from deploy.json
        shell: bash
        run: |
          DWN_DOMAIN=$(jq -r '.${{ inputs.channel }}.services.dwn_server.domain' infra/terraform/deploy.json)
          WORLD_DOMAIN=$(jq -r '.${{ inputs.channel }}.services.unavi_server.domain' infra/terraform/deploy.json)
          echo "DWN_URL=https://$DWN_DOMAIN" >> "$GITHUB_ENV"
          echo "WORLD_DID=did:web:$WORLD_DOMAIN" >> "$GITHUB_ENV"
      - name: Build wix
        if: ${{ matrix.package == 'unavi-launcher' }}
        run: |
          cargo wix -p ${{ matrix.package }} --nocapture
      - name: Build package
        run: |
          cargo build -p ${{ matrix.package }} --release
          mkdir result
          mv target/release/*.exe result
          cp LICENSE result
      - name: Create zip
        if: ${{ matrix.package != 'unavi-launcher' }}
        run: Compress-Archive -Path result/* -DestinationPath ${{ matrix.package }}-x86_64-windows.zip
      - uses: actions/upload-artifact@v5
        if: ${{ matrix.package != 'unavi-launcher' }}
        with:
          name: build-${{ matrix.package }}-x86_64-windows
          path: ${{ matrix.package }}-x86_64-windows.zip
          retention-days: 1
      - name: Create msi
        if: ${{ matrix.package == 'unavi-launcher' }}
        run: |
          ls target/wix/
          mv target/wix/*.msi ${{ matrix.package }}-x86_64-windows.msi
      - uses: actions/upload-artifact@v5
        if: ${{ matrix.package == 'unavi-launcher' }}
        with:
          name: build-${{ matrix.package }}-x86_64-windows-installer
          path: ${{ matrix.package }}-x86_64-windows.msi
          retention-days: 1
