name: Build Nix
on:
  workflow_call:
    inputs:
      channel:
        description: channel to build
        required: true
        type: string
      ref:
        description: ref to build
        type: string
jobs:
  set-matrix:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.generate.outputs.matrix }}
    steps:
      - name: Generate build matrix
        id: generate
        run: |
          PACKAGES=("unavi-client" "unavi-launcher" "unavi-server")
          # SYSTEMS=("x86_64-linux" "x86_64-darwin")
          SYSTEMS=("x86_64-linux")

          declare -A OS_MAP
          OS_MAP["x86_64-linux"]="ubuntu-latest"
          OS_MAP["x86_64-darwin"]="macos-latest"

          MATRIX="["
          for SYS in "${SYSTEMS[@]}"; do
            for PKG in "${PACKAGES[@]}"; do
              [ "$MATRIX" != "[" ] && MATRIX+=","
              OS="${OS_MAP[$SYS]}"
              MATRIX+="{\"package\":\"$PKG\",\"os\":\"$OS\",\"name\":\"$PKG-$SYS\"}"
            done
          done
          MATRIX+="]"

          echo "$MATRIX"
          echo "matrix=$MATRIX" >> "$GITHUB_OUTPUT"
  build:
    needs: set-matrix
    strategy:
      matrix:
        include: ${{ fromJSON(needs.set-matrix.outputs.matrix) }}
    runs-on: ${{ matrix.os }}
    name: ${{ matrix.name }}
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.ref || github.ref }}
      - uses: DeterminateSystems/determinate-nix-action@v3
        with:
          extra-conf: extra-experimental-features = pipe-operators
      - uses: DeterminateSystems/magic-nix-cache-action@main
      - run: nix profile add nixpkgs#gnutar nixpkgs#xz
      - name: Set build environment from deploy.json
        id: deploy_info
        run: |
          DWN_DOMAIN=$(jq -r '.${{ inputs.channel }}.services.dwn_server.domain' infra/terraform/deploy.json)
          WORLD_DOMAIN=$(jq -r '.${{ inputs.channel }}.services.unavi_server.domain' infra/terraform/deploy.json)
          echo "DWN_URL=https://$DWN_DOMAIN" >> "$GITHUB_OUTPUT"
          echo "WORLD_DID=did:web:$WORLD_DOMAIN" >> "$GITHUB_OUTPUT"
      - name: Build package
        env:
          DWN_URL: ${{ steps.deploy_info.outputs.DWN_URL }}
          WORLD_DID: ${{ steps.deploy_info.outputs.WORLD_DID }}
        run: |
          nix build -L .#${{ matrix.package }}
          tar -cJf ${{ matrix.name }}.tar.xz -C result .
      - name: Upload artifact
        uses: actions/upload-artifact@v5
        with:
          name: build-${{ matrix.name }}
          path: ${{ matrix.name }}.tar.xz
          retention-days: 1
