name: Build Windows
on:
  workflow_call:
    inputs:
      channel:
        description: The channel to build.
        required: true
        type: string
      ref:
        description: The ref to build.
        required: true
        type: string
jobs:
  build-windows:
    runs-on: windows-latest
    strategy:
      matrix:
        package: [unavi-client unavi-launcher]
    name: ${{ matrix.package }}-windows
    steps:
      - uses: actions/checkout@v5
        with:
          ref: ${{ inputs.ref || github.ref }}
          submodules: true
      - uses: crazy-max/ghaction-chocolatey@v3
        with:
          args: install wixtoolset
      - uses: Swatinem/rust-cache@v2
      - uses: dtolnay/rust-toolchain@nightly
        with:
          targets: x86_64-pc-windows-msvc
      - run: cargo install cargo-wix
      - run: cargo install cargo-component
      - name: Build assets
        if: ${{ matrix.package == 'unavi' }}
        run: |
          cargo wix -p ${{ matrix.package }} --nocapture
          cd crates/${{ matrix.package }}/wix
          ./gen-assets.bat
      - name: Build package
        run: |
          cargo build -p ${{ matrix.package }} --release
          mkdir result
          mv target/x86_64-pc-windows-msvc/release/*.exe result
          cp crates/${{ matrix.package }}/README.md result
          cp LICENSE result
      - name: Create zip
        run: Compress-Archive -Path result/* -DestinationPath ${{ matrix.package }}-windows.zip
      - uses: actions/upload-artifact@v5
        with:
          name: build-${{ matrix.package }}-x86_64-windows
          path: ${{ matrix.package }}-x86_64-windows.zip
          retention-days: 1
