name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: AdityaGarg8/remove-unwanted-software@v4
        with:
          remove-android: true
          remove-cached-tools: true
          remove-codeql: true
          remove-docker-images: true
          remove-dotnet: true
          remove-haskell: true

      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          submodules: true

      - uses: DeterminateSystems/flake-checker-action@v8

      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/magic-nix-cache-action@main
      - uses: Swatinem/rust-cache@v2

      - run: nix develop -c cargo deny check
      - run: nix develop -c cargo component check

      - run: nix develop -c cargo clippy --all-features --fix --no-deps
      - run: nix develop -c cargo fmt --all

      - run: nix fmt .
      - run: nix develop -c sh scripts/generate-readme.sh
      - run: nix develop -c terraform fmt -recursive
      - run: nix develop -c prettier -w .

      - uses: EndBug/add-and-commit@v9
        with:
          message: "chore: lint"
          default_author: github_actions

      - run: nix develop -c cargo doc --all-features --no-deps
      - run: nix develop -c cargo test --all-features
