name: Deploy
on:
  workflow_dispatch:
    inputs:
      channel:
        description: deployment channel
        required: true
        type: choice
        options:
          - beta
          - stable
        default: beta
  workflow_call:
    inputs:
      channel:
        description: deployment channel
        required: true
        type: string
      ref:
        description: git ref to deploy
        required: false
        type: string
concurrency:
  group: deploy
  cancel-in-progress: false
jobs:
  deploy-unavi-server:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v5
        with:
          ref: ${{ inputs.ref || github.ref }}
      - uses: DeterminateSystems/determinate-nix-action@v3
        with:
          extra-conf: extra-experimental-features = pipe-operators
      - uses: DeterminateSystems/magic-nix-cache-action@main
      - name: Get deploy info
        id: deploy_info
        run: |
          SERVER_IP=$(jq -r '.${{ inputs.channel }}.server_ipv4' infra/terraform/deploy.json)
          echo "server_ip=$SERVER_IP" >> "$GITHUB_OUTPUT"
      - name: Setup ssh
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.DEPLOY_SSH_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan ${{ steps.deploy_info.outputs.server_ip }} >> ~/.ssh/known_hosts
      - name: Deploy
        run: nix develop --command deploy .#unavi-${{ inputs.channel }}
