name: Deploy Protocol
on:
  push:
    branches:
      - main
concurrency:
  group: pages
  cancel-in-progress: false
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: |
          mkdir out
          cp protocol/README.md out/
          cp protocol/CNAME out/
          cp protocol/_config.yml out/
      - uses: s0/git-publish-subdir-action@develop
        env:
          BRANCH: protocol
          COMMIT_EMAIL: 41898282+github-actions[bot]@users.noreply.github.com
          COMMIT_NAME: github-actions[bot]
          FOLDER: out
          GITHUB_TOKEN: ${{ github.token }}
          REPO: self
          SQUASH_HISTORY: true
