name: Deploy Web

on:
  push:
    branches:
      - main
  workflow_call:
    inputs:
      channel:
        required: true
        type: string
      ref:
        required: true
        type: string
  workflow_dispatch:

env:
  CHANNEL: ${{ inputs.channel || github.ref_name }}

concurrency:
  group: "deploy-${{ inputs.channel || github.ref_name }}"
  cancel-in-progress: false

jobs:
  build:
    if: github.event_name == 'push' || github.event_name == 'repository_dispatch'
    uses: ./.github/workflows/build-web.yml
    with:
      ref: ${{ inputs.ref || github.ref }}

  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
          ref: ${{ inputs.ref || github.ref }}

      - name: Create branch
        run: git checkout --orphan web-app/${{ env.CHANNEL }}

      - name: Clean directory
        run: |
          find . -mindepth 1 -maxdepth 1 -not -name '.git' -exec rm -rf {} \;

      - uses: actions/download-artifact@v4
        with:
          name: build-web

      - name: Unzip artifact
        run: |
          unzip web.zip
          rm web.zip

      - name: Commit changes
        run: |
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"
          git add .
          git commit -m "Deploy web-app/${{ env.CHANNEL }}"

      - name: Push changes
        run: git push origin web-app/${{ env.CHANNEL }} --force
